# ===== Build folders =====
Debug/
Release/

# ===== Object & dependency files =====
*.o
*.d
*.elf
*.map
*.hex
*.bin

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Debug files =====
*.su
*.idb
*.pdb
*.dSYM/
